.numeros-grid {
  grid-column: 2/4; /* Posicionando no grid já criado no body */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.numeros-grid h3 {
  margin-bottom: .5rem;

  font-family: 'Playfair Display SC', serif;
  font-size: 2rem;
}

.numeros-grid span {
  margin-bottom: .5rem;
  
  color: #e54;
  
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  font-weight: bold;
}


/* responsivo */
@media (max-width: 700px) {
  /* ajustando os grids */
  .numeros-grid {
    grid-column: 1;
  }
}